.bar {
    transition: fill 0.3s, height 0.3s;
  }
  .bar:hover {
    fill: gray;
  }
  .label {
    font-size: 10px;
    fill: black;
  }
  /* Graph.css */

/* General styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  b {
    color: #0056b3;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #444;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  /* Container for the graph */
  .graph-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 700px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .tooltip {
    position: absolute;
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    pointer-events: none; /* Prevent mouse events on the tooltip */
}


  /* Legend styles */
  .legend {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin: 0 10px;
    font-size: 14px;
  }
  
  .legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
  }
  .analysis-text {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #444;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
  }
  .analysis-text p {
    margin: 0;
  }
  
  